.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container{
  max-width: 720px;
  margin: 0 auto;
}
.container-small{
  max-width: 480px;
  margin: 0 auto;
  padding: 15px;
  margin: 1px solid;
}
.avatar{
  width: 120px;
  height: auto;
  padding: 20px;
}
.box{
  border: 2px solid black;
  padding: 15px;
  margin-top: 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
